<html>
<head>
<title>Pagina About</title>
</head>
<body>
<h1>About Page Madafakas</h1><br>
<p align = "justify">
Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo
Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo 
Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo Parrafo
</p>

<%= link_to 'Home', root_path %>

</body>
</html>