<div class = "container">
    <footer class="footer">
        <small>
            <p>Copyright &copy; Isaac's Blog Madafakas by Isaac Sandoval</p>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
        </footer>
</div>